.to-top {
    opacity: .75;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: .2s;
}
  
.to-top.scrolled {
    right: -60px;
}

#mark_jiggle {
    animation: jiggle 1.75s ease-in-out infinite;
}

@keyframes jiggle {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}